[submodule ".registry"]
	path = .registry
	url = https://github.com/rempsyc/rempsyc.r-universe.dev
	branch = HEAD
[submodule "adhoc"]
	path = adhoc
	url = https://github.com/rempsyc/adhoc
[submodule "flightanalysis"]
	path = flightanalysis
	url = https://github.com/rempsyc/flightanalysis
[submodule "githubContributors"]
	path = githubContributors
	url = https://github.com/rempsyc/githubContributors
[submodule "lavaanExtra"]
	path = lavaanExtra
	url = https://github.com/rempsyc/lavaanExtra
[submodule "pubDashboard"]
	path = pubDashboard
	url = https://github.com/rempsyc/pubDashboard
[submodule "pubmedDashboard"]
	path = pubmedDashboard
	url = https://github.com/rempsyc/pubmedDashboard
[submodule "rempsyc"]
	path = rempsyc
	url = https://github.com/rempsyc/rempsyc
