[submodule ".registry"]
	path = .registry
	url = https://github.com/rempsyc/universe
	shallow = true
	branch = HEAD
[submodule "rempsyc"]
	path = rempsyc
	url = https://github.com/rempsyc/rempsyc
	shallow = true
	registered = true
[submodule "openxlsx2"]
	path = openxlsx2
	url = https://github.com/JanMarvin/openxlsx2
	shallow = true
	registered = false
