[submodule ".registry"]
	path = .registry
	url = https://github.com/rempsyc/universe
	shallow = true
	branch = HEAD
[submodule "rempsyc"]
	path = rempsyc
	url = https://github.com/rempsyc/rempsyc
	shallow = true
	registered = true
[submodule "lavaanExtra"]
	path = lavaanExtra
	url = https://github.com/rempsyc/lavaanExtra
	shallow = true
	registered = true
[submodule "effectsize"]
	path = effectsize
	url = https://github.com/easystats/effectsize
	shallow = true
	registered = false
[submodule "qqplotr"]
	path = qqplotr
	url = https://github.com/aloy/qqplotr
	shallow = true
	registered = false
